* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    /* background: url(https://t3.ftcdn.net/jpg/04/39/59/32/240_F_439593202_3ZYjuJk9ukG0zzWnNEaUxZKXF01Z0zWu.jpg); */
}


#login-container {
    padding: 30px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: lightblue;
    margin: auto;
}
#username-title {
    font-size: 50px;
}

#password-title {
    font-size:50px;
}
h1 {
    font-size: 100px;
    color: white;
}
#username {
    justify-self: left;
    padding: 10px;
    /* width: 100%; */
    margin: 10px;
    border-radius: 10px;
    width: 50%;
    font-size: 20px;
}
#password {
    justify-self: left;
    padding: 10px;
    /* width: 100%; */
    font-size: 20px;
    margin: 10px;
    width: 50%;
    border-radius: 10px;
}
#input-fields {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

span {
    font-size: 20px;
    font-weight: bold;
}

button {
    padding: 30px;
    outline:none;
    margin-bottom: 30px;
    border: none;
    background-color: white;
    font-weight: bold;
    border-radius:10px;
}

button:hover {
    cursor: pointer;
    background-color: lightblue;
    color:white ;
}