* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    /* background-color: #F28585; */
    /* filter: blur(1px); */
    /* opacity: 0.5; */
}

#nav-bar {
    display: flex;
    background-color: rgb(240, 103, 126);
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    h1 {
        font-size: 40px;
        position: relative;
        left: 30px;
    }

    #login-user {
        color: white;
    }

    /* opacity: 0.5; */
}

#list-container {
    width: 90%;
    height: 70%;
    border-radius: 10px;
    background-color: white;
    margin: auto;
    border: 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

#list-container-heading {
    color: rgb(240, 103, 126);
    font-size: 40px;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
}

.task-boxes-list {
    list-style: none;
    width: 100%;
}

.task-boxes-list-item {
    border-radius: 10px;
    background-color: rgb(240, 103, 126);
    padding: 10px;
    cursor: pointer;
    color: white;
    font-size: larger;
    width: 100%;
}


.task-boxes-list-item-container {
    /* display: none; */
    display: flex;
    width: 100%;
    font-size: larger;
    align-items: center;
    margin: 10px;
    button {
        margin-left: 10px;
        margin-right: -10px;
        color: rgb(240, 103, 126);
        /* background-color: pink; */
        border: none;
        font-size: large;
        cursor: pointer;
        padding: 15px;
        background-color: white;
        text-wrap: nowrap;
    }

    button:hover {
        background-color: rgb(240, 103, 126);
        color: white;
        border-radius: 10px;
        border: none;
        transition: 0.3s;
    }
    /* button:active {
        outline: none;
    } */
}
.task-boxes-list-item:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#task-boxes-list-item-add {
    font-size: 30px;
    background-color: rgb(240, 103, 126);
    border: none;
    border-radius: 10px;
    margin: 10px;
    color: white;
    padding: 10px;
    cursor: pointer;
    margin-right: 5px;
}
#task-boxes-list-item-add:hover {
    opacity: 0.7;
    transition: 0.2s;
}
#task-boxes-list-item-add:active {
    opacity: 0.9;
    transition: 0.2s;
}
.task-boxes-list-item-remove {
    font-size: 50px;
    margin-right: 5px;
    cursor: pointer;
}

/* #task-boxes-list-item-add:hover {
    rotate: 40deg;
    transition: 0.4s; */
/* } */

#task-boxes-list-item-properties-menu {
    background-color: pink;
    width: 35%;
    height: 70%;
    margin: auto;
    padding: 10px;
    /* border: 1px solid; */
    border-radius: 10px;
    position: absolute;
    /* background-color: red; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;

    /* padding: 10px; */
    /* display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto; */
    /* display: none; */
    h3 {
        font-weight: bold;
        font-size: 30px;
        /* opacity: 0.5; */
    }

    button {
        padding: 10px;
        background-color: rgb(240, 103, 126);
        border: none;
        float: right;
        margin: 4px;
        cursor: pointer;
        border-radius: 10px;
    }

    button:hover {
        opacity: 0.8;
    }

    /* filter: blur(0px); */
}
/* #task-boxes-list {
    display: flex;
} */

#task-boxes-list-item-properties-menu-timestamp {
    grid-column: 1;
}

#task-boxes-list-item-properties-menu-item-container {
    margin: 20px;
}


textarea {
    width: 100%;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    padding: 8px;
    font-weight: bold;
    height: 80px;
}


#focus-change {
    display: none;
    opacity: 0.5;
}